@using ESCenter.Domain.Shared.Courses
@model List<ESCenter.Admin.Application.Contracts.Users.Learners.TutorRequestForListDto>

@{
    ViewData["Title"] = "Edit";

    int i = 0;
}

<hr/>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Tutors Requests</h5>

        <!-- Table with stripped rows -->
        <table id="example" class="table datatable">
            <thead>
            <tr>
                <!-- a avatar column will be added -->
                <th scope="col">#</th>
                <th scope="col">Learner Name</th>
                <th scope="col">Learner Contact</th>
                <th scope="col">Tutor Name</th>
                <th scope="col">Tutor Contact</th>
                <th scope="col">Tutor Email</th>
                <th scope="col">Message</th>
                <th data-sortable="false" scope="col" style="width:30%;">Actions</th>
            </tr>
            </thead>
            <tbody>

            @foreach (var user in Model)
            {
                i++;
                <tr>
                    <th scope="row">
                        <input hidden name="Id" value="@user.Id"/>
                        @i
                    </th>
                    <td>@user.Name</td>
                    <td>@user.PhoneNumber</td>
                    <td>@user.TutorFullName</td>
                    <td>@user.TutorPhoneNumber</td>
                    <td>@user.TutorEmail</td>
                    <td>@user.RequestMessage</td>
                    <td>
                        @if (user.Status == RequestStatus.Done)
                        {
                            <a href='javascript:void(0);'>Done</a>
                        }
                        else
                        {
                            <a asp-action="MarkAsDone" asp-route-id="@user.Id">Done</a>
                        }
                    </td>
                </tr>
            }
            </tbody>
        </table>
        <!-- End Table with stripped rows -->
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}