@model List<ESCenter.Application.Contracts.Users.Learners.TutorRequestForListDto>

@{
    ViewData["Title"] = "Edit";

    List<string> roles = ViewData["Roles"] as List<string> ?? new List<string>();
    List<string> genders = ViewData["Genders"] as List<string> ?? new List<string>();
    List<string> academics = ViewData["AcademicLevels"] as List<string> ?? new List<string>();
    int i = 0;
}
<h1>Edit</h1>

<div class="alert alert-success alert-dismissible fade collapse" role="alert" id="successAlert">
    <i class="bi bi-check-circle me-1"></i>
    Update successfully!
    <button type="button" class="btn-close" data-bs-toggle="collapse" id="successAlertButton" data-bs-target="#successAlert" aria-expanded="false" aria-controls="successAlert" aria-label="Close"></button>
</div>

<hr/>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Tutors</h5>

        <!-- Table with stripped rows -->
        <table id="example" class="table datatable">
            <thead>
            <tr>
                <!-- a avatar column will be added -->
                <th scope="col">#</th>
                <th scope="col">Learner Name</th>
                <th scope="col">Learner Contact</th>
                <th scope="col">Tutor Name</th>
                <th scope="col">Tutor Contact</th>
                <th scope="col">Message</th>
                <th data-sortable="false" scope="col" style="width:30%;">Actions</th>
            </tr>
            </thead>
            <tbody>

            @foreach (var user in Model)
            {
                i++;
                <tr>
                    <th scope="row">
                        <input hidden name="Id" value="@user.Id"/>
                        @i
                    </th>
                    <td>@user.Name</td>
                    <td>@user.PhoneNumber</td>
                    <td>@user.Tutor.FirstName @user.Tutor.LastName</td>
                    <td>@user.Tutor.PhoneNumber</td>
                    <td>@user.RequestMessage</td>
                    <td>
                        <a asp-action="Done" asp-route-id="@user.Id">Done</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
        <!-- End Table with stripped rows -->
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}