@using ESCenter.Domain.Shared.Courses
@model ESCenter.Admin.Application.Contracts.Users.Learners.LearnerForCreateUpdateDto

@{
    ViewData["Title"] = "Create";
    List<string> roles = ViewData["Roles"] as List<string> ?? new List<string>();
    List<string> genders = ViewData["Genders"] as List<string> ?? new List<string>();
}


<h1>Create</h1>

<h4>User</h4>
<hr/>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Personal Information</h5>

        <!-- Multi Columns Form -->
        <form class="row g-3" asp-action="Create" asp-controller="Staff">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="col-md-6">
                <label asp-for="FirstName" class="form-label">First Name</label>
                <input type="text" asp-for="FirstName" class="form-control">
                <span asp-validation-for="FirstName" class="text-danger"></span>

            </div>
            <div class="col-md-6">
                <label asp-for="LastName" class="form-label">Last Name</label>
                <input type="text" class="form-control" asp-for="LastName">
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <!-- ----------------------------------- -->

            <div class="col-md-4">
                <label asp-for="Gender" class="form-label">Gender</label>
                <select asp-for="Gender" class="form-select">
                    <option selected>@Model.Gender.ToString()</option>

                    @foreach (string i in genders)
                    {
                        @if (i != Model.Gender.ToString())
                        {
                            <option> @i </option>
                        }
                    }
                </select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="Role" class="form-label">Role</label>
                <select asp-for="Role" class="form-select">
                    <option selected>@Model.Role.ToString()</option>
                            <option> @Role.Admin.ToString() </option>
                </select>
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="BirthYear" class="form-label">Birth</label>
                <input type="number" class="form-control" asp-for="BirthYear">

                <span asp-validation-for="BirthYear" class="text-danger"></span>
            </div>

            <div class="col-md-6">
                <label asp-for="Email" class="form-label">Email</label>
                <div class="col-sm-12">
                    <input type="email" asp-for="Email" class="form-control">
                </div>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="col-md-6">
                <label asp-for="PhoneNumber" class="form-label">Number</label>
                <div class="col-sm-12">
                    <input type="tel" asp-for="PhoneNumber" class="form-control">
                </div>
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>

            </div>

            <div class="col-6">
                <label asp-for="City" class="form-label">City</label>
                <input type="text" class="form-control" asp-for="City" placeholder="Sai Gon"/>
                <span asp-validation-for="City" class="text-danger"></span>
            </div>

            <div class="col-6">
                <label asp-for="Country" class="form-label">Country</label>
                <input type="text" class="form-control" asp-for="Country" placeholder="Viet Nam"/>
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <!-- address advanced set up----------------------------------- -->

            <!-- ----------------------------------- -->

            <div class="col-12">
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Address" asp-for="Description" style="height: 100px;"></textarea>
                    <label asp-for="Description" class="form-label">Description</label>
                    <span asp-validation-for="Description" class="text-danger"></span>

                </div>
            </div>

            <!-- ----------------------------------- hidden info -->


            <input type="hidden" asp-for="Id" value="@Guid.NewGuid()"/>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" asp-action="Index" class="btn btn-secondary">Cancel</button>
            </div>
            @Html.AntiForgeryToken()
        </form><!-- End Multi Columns Form -->

    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}