@model IEnumerable<ESCenter.Client.Application.ServiceImpls.TutorProfiles.BasicCourseRequestDto>
@{
    var i = 0;
}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Your teaching requests </h5>

        <!-- Table with stripped rows -->
        <table id="example" class="table datatable">
            <thead>
            <tr>
                <!-- a avatar column will be added -->
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Subject</th>
                <th scope="col">Status</th>
                <th data-sortable="false" scope="col" >Actions</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var requestGettingClassDto in Model)
            {
                i++;
                <tr>
                    <th scope="row">
                        <input hidden name="Id" value="@requestGettingClassDto.Id"/>
                        @i
                    </th>
                    <td>@requestGettingClassDto.Title</td>
                    <td>@requestGettingClassDto.SubjectName</td>
                    <td>@requestGettingClassDto.RequestStatus</td>

                    <td>
                        <button type="button" class="btn btn-primary" style="background-color: #2eca6a"
                                onclick="OpenGetDialog('@Url.Action("TeachingClassDetail", "TutorProfile", new { courseId = requestGettingClassDto.CourseId })','Detail');">
                            Detail
                        </button>
                    </td>
                </tr>
            }
            </tbody>
        </table>
        <!-- End Table with stripped rows -->
    </div>
</div>