@using ESCenter.Client.Application.Contracts.Users.Params
@using ESCenter.Domain.Shared.Courses
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Matt.Paginated.PaginatedList<ESCenter.Client.Application.Contracts.Users.Tutors.TutorListForClientPageDto>

@{
    var tutorParams = ViewData["TutorParams"] as TutorParams ?? new TutorParams();
    
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    var subject = ViewBag.SubjectSearch as string ?? "";

    var currentGender = tutorParams.Gender == Gender.None.ToString() ? null : tutorParams.Gender;
    var currentAcademicLevel = tutorParams.Academic == AcademicLevel.Optional.ToString() ? null : tutorParams.Academic;
    var currentAddress = tutorParams.Address;
    var currentBirthYear = tutorParams.BirthYear == 0 ? null : tutorParams.BirthYear;
}

<div class="d-flex w-100 justify-content-center gap-3 mt-3">
    @if ((Model.PageIndex - 1) > 1)
    {
        <a asp-controller="Tutor" asp-route-subjectName="@subject" asp-action="Index"
           asp-route-pageIndex="1" asp-route-address=@currentAddress asp-route-gender=@currentGender
           asp-route-academicLevel=@currentAcademicLevel asp-route-birthYear=@currentBirthYear class="btn btn-default">
            &#60;&#60;
        </a>
    }

    <a asp-controller="Tutor" asp-action="Index" asp-route-pageIndex="@(Model.PageIndex - 1)"
       asp-route-address=@currentAddress asp-route-gender=@currentGender
       asp-route-academicLevel=@currentAcademicLevel asp-route-birthYear=@currentBirthYear asp-route-subjectName=@subject
       class="btn btn-default @prevDisabled">
        Previous
    </a>

    @*previous page*@
    @if ((Model.PageIndex - 1) > 0)
    {
        <a asp-controller="Tutor" asp-action="Index" asp-route-pageIndex=@(Model.PageIndex - 1)
           asp-route-address=@currentAddress asp-route-gender=@currentGender
           asp-route-academicLevel=@currentAcademicLevel asp-route-birthYear=@currentBirthYear
           asp-route-subjectName="@subject" class="btn btn-default @prevDisabled">
            @(Model.PageIndex - 1)
        </a>
    }
    <a class="btn btn-default border-info">
        @Model.PageIndex
    </a>

    @*next page*@
    @if (Model.PageIndex + 1 <= Model.TotalPages)
    {
        <a asp-controller="Tutor" asp-action="Index" asp-route-pageIndex=@(Model.PageIndex + 1)
           asp-route-address=@currentAddress asp-route-gender=@currentGender
           asp-route-academicLevel=@currentAcademicLevel asp-route-birthYear=@currentBirthYear
           asp-route-subjectName="@subject" class="btn btn-default @nextDisabled">
            @(Model.PageIndex + 1)
        </a>
    }

    <a asp-controller="Tutor" asp-action="Index" asp-route-pageIndex=@(Model.PageIndex + 1)
       asp-route-address=@currentAddress asp-route-gender=@currentGender
       asp-route-academicLevel=@currentAcademicLevel asp-route-birthYear=@currentBirthYear
       asp-route-subjectName="@subject" class="btn btn-default @nextDisabled">
        Next
    </a>

    @*last page*@
    @if (Model.TotalPages - (Model.PageIndex + 1) >= 1)
    {
        <a asp-controller="Tutor" asp-action="Index" asp-route-pageIndex=@Model.TotalPages
           asp-route-address=@currentAddress asp-route-gender=@currentGender
           asp-route-academicLevel=@currentAcademicLevel asp-route-birthYear=@currentBirthYear
           asp-route-subjectName="@subject" class="btn btn-default">
            &gt;&gt;
        </a>
    }
</div>