@using ESCenter.Domain.Shared
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using ESCenter.Client.Application.Contracts.Courses.Dtos
@model ESCenter.Client.Models.TutorRegistrationViewModel
@{
    var subjects = ViewData["Subjects"] as ICollection<SubjectDto> ?? [];
    var academicLevels = EnumProvider.AcademicLevels;
}
<form asp-action="TutorRegistration" asp-controller="Tutor">

    <div class="card mt-5">
        <div class="card-body row">

            <h5 class="col-md-12 mt-5">Tutor information</h5>
            <div class="col-12">
                <label asp-for="Description" class="form-label">Description</label>

                <textarea class="form-control" placeholder="Tell us about yourself" asp-for="Description" style="height: 100px;"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>

            </div>
            <div class="col-md-4">
                <label asp-for="AcademicLevel" class="form-label">Academic Level</label>
                <select asp-for="AcademicLevel" class="form-select">

                    @foreach (var i in academicLevels)
                    {
                        <option> @i </option>
                    }
                </select>
                <span asp-validation-for="AcademicLevel" class="text-danger"></span>
            </div>
            <div class="col-md-8">
                <label asp-for="University" class="form-label">University</label>
                <input type="text" class="form-control" value="" asp-for="University">
                <span asp-validation-for="University" class="text-danger"></span>
            </div>
        </div>
    </div>
    
    @* Change this into list of combobox of majors *@
    <div class="card mt-5" id="tutorMajorCard"> 
        <div class="card-body">
            <div class="card-title row">
                <h5 class="col-11">Add Your Majors</h5>
                
                <div class="list-group" style="grid-template-columns: repeat(4,1fr); display: grid">
                    @foreach (var s in subjects)
                    {
                        <li class="list-group-item" style="border: none">
                            <input class="form-check-input" name="majorIds" value="@s.Id" type="checkbox"/>
                            <label class="form-check-label">@s.Name</label>
                        </li>
                    }
                </div><!-- End List group Advanced Content -->

            </div>
        </div>
    </div>

    @* TODO: Add upload image component *@
    <div class="card">
        <div class="card-body">
            <div class="card-title row">
                <h5 class="col-11">Tutor Verifications</h5>
            </div>
            <div class="row mb-3">
                <label class="col-md-4 col-lg-3 col-form-label">Profile Image</label>
                <div class="col-md-8 col-lg-9">
                    @* <div id="filesInputValues"> *@
                    @*     @foreach (var i in Model.TutorVerificationInfoDtos) *@
                    @*     { *@
                    @*         <img src="@i.Image" style="max-width: 120px;" alt="Profile" id="avatar"> *@
                    @*         <input id="image" asp-for="@i.Image" hidden type="text"/> *@
                    @*     } *@
                    @* </div> *@

                    <div class="pt-2">
                        <input type="file" id="file" name="imageFileUrls" multiple="multiple" onchange="LoadImage('@Url.Action("ChooseProfilePictures", "Tutor", null)','file'); return false;"/>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="reset" asp-action="Index" asp-controller="Tutor" class="btn btn-secondary">Back To Tutor Page</button>
    </div>
</form>