@using ESCenter.Domain.Shared.Courses
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using System.Security.Claims
@model ESCenter.Client.Models.CourseDetailViewModel

<div class="breadcrumbs" data-aos="fade-in">
    <div class="container">
        <h2>Course Details</h2>
        <p>Est dolorum ut non facere possimus quibusdam eligendi voluptatem. Quia aut similique quia voluptas sit quaerat debitis. Rerum omnis ipsam aperiam consequatur laboriosam nemo harum praesentium. </p>
    </div>
</div>

<section id="course-details" class="course-details">
    <div class="container" data-aos="fade-up">

        <div class="row">
            <div class="card mb-3 col-lg-12">
                <h3>@Model.CourseDetailDto.Title</h3>
                <div class="d-flex justify-content-between align-items-center ">

                    <h4 class="col-lg-6">
                        <b>Subject: </b> @Model.CourseDetailDto.SubjectName
                    </h4>
                    <form asp-controller="Course" asp-action="RequestGettingClass" class="col-lg-3">
                        <input hidden="hidden" name="courseId" value="@Model.CourseDetailDto.Id"/>
                        @if (User.FindFirst(ClaimTypes.Role)?.Value == Role.Tutor.ToString())
                        {
                            <button class="btn btn-success" type="submit">Request (<b>Charge</b>: @Model.CourseDetailDto.ChargeFee $)</button>
                        }
                        else
                        {
                            <button class="btn btn-success" disabled type="button">Login to request</button>
                        }
                        <input value="@Model.CourseDetailDto.Id" hidden="" name="ClassId"/>
                    </form>

                </div>

                <p>
                    @Model.CourseDetailDto.Description
                </p>
                <div class="row">
                    <p>Requirements</p>
                    <div class="course-info d-flex justify-content-between align-items-center">
                        <h5>Status</h5>
                        <p>@Model.CourseDetailDto.Status</p>
                    </div>
                    <div class="course-info d-flex justify-content-between align-items-center">
                        <h5>Gender requirement</h5>
                        <p>@Model.CourseDetailDto.GenderRequirement</p>
                    </div>
                    <div class="course-info d-flex justify-content-between align-items-center">
                        <h5>Academic requirements</h5>
                        <p>@Model.CourseDetailDto.AcademicLevelRequirement</p>
                    </div>


                    <div class="course-info d-flex justify-content-between align-items-center">
                        <h5>Learning Mode</h5>
                        <p>@Model.CourseDetailDto.LearningMode</p>
                    </div>
                    <p> Informations </p>

                    <div class="col-lg-4 ">

                        <div class="course-info d-flex justify-content-between align-items-center">
                            <h5>Class' Fee</h5>
                            <p>$@Model.CourseDetailDto.SectionFee</p>
                        </div>
                        <div class="course-info d-flex justify-content-between align-items-center">
                            <h5>Charge Fee</h5>
                            <p>$@Model.CourseDetailDto.ChargeFee</p>
                        </div>


                    </div>
                    <div class="col-lg-4 ">
                        <div class="course-info d-flex justify-content-between align-items-center">
                            <h5>Number of students</h5>
                            <p>@Model.CourseDetailDto.NumberOfLearner</p>
                        </div>
                        <div class="course-info d-flex justify-content-between align-items-center">
                            <h5>Student's Gender</h5>
                            <p>@Model.CourseDetailDto.LearnerGender</p>
                        </div>
                    </div>
                    <div class="col-lg-4 ">


                        <div class="course-info d-flex justify-content-between align-items-center">
                            <h5>Minute/Session</h5>
                            <p>@Model.CourseDetailDto.SessionDuration</p>
                        </div>
                        <div class="course-info d-flex justify-content-between align-items-center">
                            <h5>Session/Week</h5>
                            <p>@Model.CourseDetailDto.SessionPerWeek</p>
                        </div>


                    </div>
                </div>
            </div>


        </div>

    </div>

</section><!-- End Cource Details Section -->

<!-- ======= Cource Details Tabs Section ======= -->
<section id="courses" class="courses">
    <div class="container" data-aos="fade-up">
        <h3>Related classes</h3>
        <div class="row">
            <div class="col-lg-12 mt-4 mt-lg-0">
                @foreach (var i in Model.RelatedCourses)
                {
                    <div class="course-item">
                        <div class="course-content">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h4>@i.SubjectName</h4>
                                <p class="price">$@i.Fee</p>
                            </div>

                            <h3>
                                <a asp-controller="Course" asp-action="Detail" asp-route-id="@i.Id">@i.Title</a>
                            </h3>
                            <p>@i.Description</p>

                        </div>
                    </div>
                }

            </div>
        </div>

    </div>
</section><!-- End Cource Details Tabs Section -->