@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Matt.Paginated.PaginatedList<ESCenter.Client.Application.Contracts.Courses.Dtos.CourseForListDto>

@{
    var subject = ViewBag.SubjectSearch as string ?? "";
}

<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs">
    <div class="container">
    <h2>Courses</h2>
            <p>
                Level up your tutoring career and increase your earning potential with our new tutor classes. Gain valuable experience, expand your skill set, and open doors to more lucrative opportunities in the education industry.
            </p>
        </div>
</div><!-- End Breadcrumbs -->
<!-- ======= Courses Section ======= -->
<section id="courses" class="courses">
    <div class="container" data-aos="fade-up">
    
        <form class="row pb-3" asp-action="Index" asp-controller="Course" method="get" >
            <div class="col-lg-10 col-sm-10 p-0 pe-2 d-flex align-items-stretch">
                <input  class="form-control"  placeholder="Type a subject" value="@subject"  type="text" name="subjectName">
                
            </div>
            <div class="col-lg-2 col-sm-2 p-0 d-flex">
                <button class="form-control btn btn-primary" style="background-color:#5fcf80;" type="submit">Search</button>
            </div>
        </form>
        
        <div class="row" data-aos="zoom-in" data-aos-delay="100">

            @foreach (var i in Model.Items)
            {
                <div class="course-item">
                    <div class="course-content">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4>@i.SubjectName</h4>
                            <p class="price">$@i.Fee</p>
                        </div>

                        <h3><a asp-controller="Course" asp-action="Detail" asp-route-id="@i.Id">@i.Title</a></h3>
                        <p>@i.Description</p>
                        <div class="trainer d-flex justify-content-between align-items-center">
                            <ul class="row requestList">
                                <li class="col-sm-4"><i class="far fa-clock text-danger mr-10"></i> <b>Created:</b> 14:10 16.05.2023</li>

                                <li class="col-sm-4">
                                    <i class="fas fa-transgender text-danger mr-10"></i> <b>Gender Requirements:</b>
                                    @i.GenderRequirement
                                </li>

                                <li class="col-sm-4">
                                    <i class="far fa-calendar-alt text-danger mr-10"></i><b>Academic requirements:</b> @i.AcademicLevelRequirement
                                </li>

                                <li class="col-sm-4">
                                    <i class="far fa-calendar-alt text-danger mr-10"></i><b>Sessions/week:</b> @i.SessionPerWeek
                                </li>


                                <li class="col-sm-4">
                                    <i class="far fa-calendar-alt text-danger mr-10"></i>  <b>Student's gender:</b> @i.LearnerGender
                                </li>
                                @if (i.NumberOfLearner <= 1)
                                {
                                    <li class="col-sm-4">
                                        <i class="far fa-user text-danger mr-10"></i>
                                        <b>Total students:</b> @i.NumberOfLearner student
                                    </li>
                                }
                                else
                                {
                                    <li class="col-sm-4">
                                        <i class="far fa-user text-danger mr-10"></i>
                                        <b>Total students:</b> @i.NumberOfLearner students
                                    </li>
                                }
                                <li class="col-sm-4">
                                    <i class="far fa-calendar-alt text-danger mr-10"></i>  <b>Minutes/week:</b> @i.SessionDuration minutes
                                </li>
                                <li class="col-sm-12">
                                    <i class="fas fa-map-marker-alt text-danger mr-10"></i>
                                    <b>Address:</b> @i.Address
                                    <a href="https://www.google.com/maps?q={@i.Address}" class="text-danger" target="_blank">
                                        <small>
                                            <em>(View map <i class="bi bi-map"></i>)</em>
                                        </small>
                                    </a>
                                </li>

                                @* <li class="col-sm-12">
                            <i class="far fa-clock text-danger mr-10"></i> <b>Thời gian rãnh:</b>
                            <ul class="listFreeTime">
                            <li>Tất cả các ngày trong tuần:  9h đến 11h</li>
                            </ul>
                            </li>
                            <li class="col-sm-12">
                            <i class="fas fa-book text-danger mr-10"></i> <b>Môn học:</b>
                            <ul class="listFreeTime">
                            <li>Lập trình Pascal</li>
                            </ul>
                            </li>*@
                            </ul>
                        </div>
                    </div>
                </div>
            }

        </div>

    </div>
    <partial name="_Pagination" model="@Model" view-data="ViewData"/>
</section><!-- End Courses Section -->