@model IEnumerable<ESCenter.Client.Application.Contracts.Courses.Dtos.LearningCourseForListDto>
@{
    var i = 0;
    // Layout = "_ScriptLayout";
}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Current learning classes</h5>

        <!-- Table with stripped rows -->
        <table id="example" class="table datatable">
            <thead>
            <tr>
                <!-- a avatar column will be added -->
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Subject</th>
                <th scope="col">Status</th>
                <th data-sortable="false" scope="col" style="width:30%;">Actions</th>
            </tr>
            </thead>
            <tbody>

            @foreach (var classIn in Model)
            {
                i++;
                <tr>
                    <th scope="row">
                        <input hidden name="Id" value="@classIn.Id"/>
                        @i
                    </th>
                    <td>@classIn.Title</td>
                    <td>@classIn.SubjectName</td>
                    <td>@classIn.Status</td>

                    <td>
                        <button type="button" class="btn btn-primary" onclick="OpenGetDialog('@Url.Action("GetLearningClass", "Profile", new { courseId = @classIn.Id })','Detail');">
                            Detail
                        </button>
                    </td>
                </tr>
            }
            </tbody>
        </table>
        <!-- End Table with stripped rows -->
    </div>
</div>