@using ESCenter.Client.Application.Contracts.Courses.Dtos
@using ESCenter.Client.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model LearningCourseDetailForClientDto

@{
    ViewData["Title"] = "Learning Course Details";
    ViewData["CourseId"] = Model.Id.ToString();
}

<div class="container" data-aos="fade-up">
    <div class="row">
        <div class="col-lg-12 row">
            <div class="col-lg-12 mb-4">
                <h6>Title</h6>
                <p class="form-control">@Model.Title</p>
            </div>

            <div class="col-lg-12 mb-4">
                <h6>Description / Notes</h6>
                <p class="form-control">@Model.Description</p>
            </div>

            <div class="col-lg-12 mb-4">
                <h6>Tutor information</h6>
                <div class="row">
                    <div class="col-6 mb-4">
                        <h6>Tutor</h6>
                        <p class="form-control">@Model.TutorName</p>
                    </div>
                    <div class="col-6 mb-4">
                        <h6>Fee ($)</h6>
                        <p class="form-control">@Model.SectionFee</p>
                    </div>
                    <div class="col-6 mb-4">
                        <h6>Email</h6>
                        <p class="form-control">@Model.TutorEmail</p>
                    </div>
                    <div class="col-6">
                        <h6>Contact</h6>
                        <p class="form-control">@Model.TutorContact</p>
                    </div>
                </div>
            </div>
        </div>
        
        
    </div>
    @if (Model.TutorId != Guid.Empty)
    {
        <partial name="_ReviewCourseForm" view-data="ViewData" model="new ReviewCourseViewModel(Model.Detail, Model.Rate)"/>
    }
</div>